*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
  overflow: hidden;
  height: 100vh;
  background: #000;
}
span
{
	position: absolute;
	background: url(heart.png);
	background-size: cover;
	pointer-events: none;
	transform: translate(-50%,-50%);
	animation: animate 2s linear infinite;
}
@keyframes animate
{
	0%
	{
		transform: translate(-50%,-50%);
		opacity: 1;
		filter: hue-rotate(0deg);
	}
	100%
	{
		transform: translate(-50%,-1000%);
		opacity: 0;
		filter: hue-rotate(720deg);
	}
}





/*---------------------	svg name	animation--------------------------*/
body{
    
    width: 100vw;
    height: 100vh;
    /*background: linear-gradient(to right top,rgb(22, 0, 73),rgb(0, 56, 58));*/
    /*background: linear-gradient(55deg,rgb(121, 0, 84),rgb(46, 0, 58));*/
    background-size: cover;
	overflow: hidden;
	background-image: url(bg.jpeg);
}
.logo{
    width: 100%;
    height: 100vh;
    
}
.main-logo{
    width: 50%;
    height: auto;
    
    transform: translateY(0px) translateX(100px);
}
.main-logo{
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    animation: fill 2s infinite 4s linear;
    fill: transparent;
    cursor: pointer;
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white;
        text-shadow: 0px 0px 25px rgba(33, 240, 255, 0.301);
    }    
}     
.word{
    animation: stroke 4s ease forwards;
}
@keyframes stroke{
    to{
        stroke-dashoffset: 0;
    }
}


.logo .main-logo h2{
    color: white;
    font-family: SegoeScript, Segoe Script;
    font-size: 4em;
    position: absolute;
    width: auto;
    height: auto;
    bottom: 0;
    display: flex;
    left: 500px;
    opacity: 0;
    transition: 2s;
}
.logo .main-logo:hover h2{
    opacity: 1;
    animation: bg 6s infinite linear;
}
@keyframes bg{
    0%{
        background: rgb(0, 255, 64);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 50px rgba(21, 204, 67, 0.452);
    }
    20%{
        background: rgb(229, 255, 0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 50px rgba(240, 255, 108, 0.432);
    }
    40%{
        background: rgb(1, 158, 206);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 50px rgba(12, 183, 235, 0.493);
    }
    60%{
        background: rgb(255, 0, 0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 50px rgba(255, 35, 35, 0.466);
    }
    80%{
        background: rgb(255, 0, 170);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 50px rgba(255, 29, 180, 0.404);
    }
    100%{
        background: rgb(255, 136, 0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 0px 50px rgba(255, 143, 14, 0.473);
    }
}
